<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/css/signup.css}" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
  	<label for="password">Password:</label>
  	<input type="password" id="password" name="password"><br><br>
  	<button type="button" id="login">Login</button>
    
    <script type="text/javascript" th:src="@{/js/login.js}"></script>

</body>
</html>