<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" href="forgotpass.css">
</head>

<body>
    <u>
        <h1>FORGOT PASSWORD</h1>
    </u>>
    <div class="box">
        <u>
            <h2>Enter Your Email Address</h2>
        </u>
        <div class="inner-box">
            <form action="recover.html">
                <input type="email" placeholder="Enter your Email Address" />
                <input type="submit" value="Send Link" />
            </form>
        </div>
    </div>


</body>

</html>
