body {
  background-color: #3D3D3D;
  font-family:'Times New Roman';
}
input[type=text],[type=password] {
    width:100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;        
}
button {
    background-color: #00C4C4;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    height: auto;
    width: auto;
    grid-template: [one-left]"one two"[two-right];
    justify-content: center;
    position:relative;
}
.one {
    padding: 20px 20px;
    margin: 20px;
    display:flex;
    height:600px;
    width:800px;
    align-self:center;
    justify-content:center;
    background: url(../image/Backing.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.two {
    color:white;
    align-self:center;
    justify-content:center;
    width:500px;
    height:auto;
    margin: 20px;
}