
.part1 {
    width:25%; 
    height:100%; 
    
    position: fixed;
}

.part2{
    padding-left: 50%;
    
}





.profile {
    padding: 75px 25px;
}

h4, h5 {
    padding: 5px 30px;
}

hr.dashed {
    border-top: 3px dashed #bbb;
  }

.centre{
    text-align: center;
}







.post {
    padding-left: 25%;
    width: 100%;
    position: relative;
}

.leftcolumn {   
    float: right;
    width: 65%;
  }
  
  /* Right column */

  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  



  .rounded-img {
      height: 25%;
      width: 15%;
      position: relative;
      display: inline-block;
  }

  .rounded-img img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
    object-position: top;
}

  .d_flex{
      display: flex;
      align-items: center;
  }

  .d_flex_centre{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  ul, li{
      list-style-type: none;
  }

  .common_bg_feed {
      background-color: #fff;
      padding: 12px 15px;
      margin-top: 15px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
  }


  /* feed_and_add_section */

  .feed_and_add_section{
      padding: 60px 40px;
  }

  .feed_and_add_section .create_post{
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
  }

  .feed_and_add_section .create_post form{
       width: 100%;
       height: 45px;
       margin-left: 10px;
    
  }
  .feed_and_add_section .create_post form input{
      width: 100%;
       height: 100%;
       padding: 10px;
       background-color: #f2f2f2;
        border-radius: 50px;
        font-size: 15px;
        border: none;
        padding-left: 20px;
  }

  .feed_and_add_section .create_btn{
      margin-top: 10px;
  }

  .feed_and_add_section .create_btn ul li{
      width: 33.33%;

  }

  .feed_and_add_section .create_btn ul li a {
      padding: 12px 10px;

  }

  .feed_and_add_section .create_btn ul li a:hover{
    background-color: #f2f2f2;
  }


  .feed_and_add_section .create_btn ul li a span img {
      width: 24px;
      margin-right: 10px;

  }  

  .feed_and_add_section .create_btn ul li a span h5{
      font-size: 10px;

  }


  /* right side bar */
 




  /* js css */

  

