.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* APPLICATION CSS */

/* Landing Page */

#landing-page {
  background-color: #3D3D3D;
  font-family:'Times New Roman';
  height: 100vh;
}
input[type=text],[type=password] {
    width:100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;        
}
button {
    background-color: #00C4C4;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    height: auto;
    width: auto;
    grid-template: [one-left]"one two"[two-right];
    justify-content: center;
    position:relative;
}
.one {
    padding: 20px 20px;
    margin: 20px;
    display:flex;
    height:600px;
    width:800px;
    align-self:center;
    justify-content:center;
    background: url(./static/image/Backing.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.two {
    color:white;
    align-self:center;
    justify-content:center;
    width:500px;
    height:auto;
    margin: 20px;
}

/* Register Page */

#register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #4ed355, #b926be);
}
.main{
  max-width: 500px;
  width: 80%;
  background-color:white;
  padding: 40px 50px;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(6, 158, 39);
}
.main .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.main .title::before{
  position: absolute;
  left: 5;
  bottom: 10;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #e4e671, #915a07);
}
.container form .users{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .users .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 2px;
}
.users .input-box input{
  height: 40px;
  width: 120;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.users .input-box input:focus,
.users .input-box input:valid{
  border-color: black;
}
 form .gender-info .gender-title{
  font-size: 30px;
  font-weight: 100;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 10px;
  width: 10px;
  border-radius: 40%;
  margin-right: 20px;
  background:#d9d9d9;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two
{
   background: #6759b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 50px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 15px;
   border: none;
   color: #fff;
   font-size: 20px;
   font-weight: 200;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #08a52a, #9b59b6);
 }
 form .button input:hover{
  background: linear-gradient(-135deg, #0ab42f, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .users .input-box{
    margin-bottom: 10px;
    width: 80%;
  }
  form .category{
    width: 100%;
  }
  .container form .users{
    max-height: 300px;
    overflow-y: scroll;
  }
  .details::-webkit-scrollbar{
    width: 5px;
  }
}

/* Feeds Page */

.part1 {
  width:25%; 
  height:100%; 
  position: fixed;
}

.part2{
  padding-left: 30%;
}

.profile {
  padding: 75px 25px;
}

h4, h5 {
  padding: 5px 30px;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

.centre{
  text-align: center;
}

.post {
  padding-left: 25%;
  width: 100%;
  position: relative;
}

.leftcolumn {   
  float: right;
  width: 65%;
}

/* Right column */

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.rounded-img {
  height: 25%;
  width: 15%;
  position: relative;
  display: inline-block;
}

.rounded-img img {
height: 100%;
width: 100%;
border-radius: 50px;
object-fit: cover;
object-position: top;
}

.d_flex{
  display: flex;
  align-items: center;
}

.d_flex_centre{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul, li{
  list-style-type: none;
}

.common_bg_feed {
  background-color: #fff;
  padding: 12px 15px;
  margin-top: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* feed_and_add_section */

.feed_and_add_section{
  padding: 60px 40px;
}

.feed_and_add_section .create_post{
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.feed_and_add_section .create_post form{
   width: 100%;
   height: 45px;
   margin-left: 10px;

}
.feed_and_add_section .create_post form input{
  width: 100%;
   height: 100%;
   padding: 10px;
   background-color: #f2f2f2;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    padding-left: 20px;
}

.feed_and_add_section .create_btn{
  margin-top: 10px;
}

.feed_and_add_section .create_btn ul li{
  width: 33.33%;
}

.feed_and_add_section .create_btn ul li a {
  padding: 12px 10px;
}

.feed_and_add_section .create_btn ul li a:hover{
background-color: #f2f2f2;
}

.feed_and_add_section .create_btn ul li a span img {
  width: 24px;
  margin-right: 10px;
}  

.feed_and_add_section .create_btn ul li a span h5{
  font-size: 10px;
}

/* right side bar */

/* js css */